.container{
  max-width: 1170px;
  margin: 0 auto;
}
  .debug .row{
    text-align: center;
  }
  .debug .row [class*="col-"]{
    height: 100%;
  }
  .width-200{
    width: 200px ;
  }
  .width-160{
    width: 160px
  }
  .debug .sfondogrigio{
    background-color: #F9F9F9 ;
    margin-bottom: 80px;
  }
  .debug .first{
    margin-bottom: 50px;
  }
  .debug .last{
    padding: 0 10%;
  }
  .debug hr{
    margin-bottom: 50px;
  }
  .debug h2{
    font-size: 30px;
  }
  .debug .bg{
    padding: 20px;
    background-color: #428bca;
    border-radius: 50%;
  }
  .debug .altezza{
    height: 200px;
  }
