.container{
  max-width: 1170px;
  margin: 0 auto;
}
  .debug .row{
    height: 250px;

  }
  .debug .row [class*="col-"]{
    float: left;
    border: 1px solid black;
    height: 100%;
  }
  .width-100{
    width: 100% ;
  }
